@import "partials/variables";

@font-face {
    font-family: ArchivoNarrow-Regular;
    src: url(fonts/ArchivoNarrow-Regular.ttf);
}

@font-face {
    font-family: OpenSans-Regular;
    src: url(fonts/OpenSans-Regular.ttf);
}

html,
body {
    height: 100%;
}

body {
    color: $background-colour;
    display: flex;
    flex-direction: column;
}

nav .navbar-brand {
    font-size: 36px;
    margin-left: 10%;
}

nav .nav-link {
    font-size: 18px;
}

.navbar-nav  {
    margin-right: 12%;
}

.navbar-brand, footer {
    font-family: OpenSans-Regular;
}

.nav-link {
    font-family: ArchivoNarrow-Regular;
}

#active {
    color: $active-colour;
}

h1 {
    font-family: OpenSans-Regular;
    text-align: center;
    padding: 60px;
}

.container-fluid .row {
    width: 70%;
    margin: 0 auto;
}

.col-md-2 {
    height: 263px;
    width: 264px;
    border-radius: 12px;
    border-style: solid;
    background-color: $box-colour;
    margin: 0 auto;
    margin-bottom: 30px;
    border-color: $box-colour;
    box-shadow: 5px 10px $shadow-colour;
} 

.border-highlight {
    border-color: $highlight-colour;
    background-color: white;
}

.inner-highlight {
    background-color: $highlight-colour;
    border-color: white;
}

footer {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    font-family: OpenSans-Regular;
    color: $font-colour;
    padding: 10px;

}

.right {
    float: right;
    margin-right: 10%;
}

.left {
    float: left;
    margin-left: 10%; 
}


.wrapper {
    flex: 1 0 auto;
    background-color: $background-colour;
}

@media only screen and (max-width: 760px) {

    .right, .left {
        float: none;
        margin: 0 auto;
        text-align: center;
    }
}